.root {
  display: flex;
  justify-content: center;
  padding-top: 20px;

  li {
    padding: 5px;

    :hover {
      background: rgba(255, 151, 110, 0.4);
    }
    a {
      text-align: center;
      padding: 5px 20px;
      margin: 5px;
      border: 2px solid rgb(211, 60, 0);
      border-radius: 30px;
      cursor: pointer;
      color: rgb(255, 94, 0);
      font-size: 14px;
      font-weight: 600;
    }
  }
  :global {
    .selected {
      a {
        background: rgba(255, 151, 110, 0.4);
      }
    }
  }
}
