.card {
  width: 90%;
  display: flex;
  padding: 30px 0;
  &__title {
    margin: 30px;
    font-size: 4rem;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
  }
  &__block {
    max-width: 600px;
    border: 1px solid #77777737;
    border-radius: 30px;
    margin: 0 auto;
    box-shadow: 2px 2px 10px #f1f1f1;
  }
  & img {
    max-width: 300px;
    padding-right: 20px;
  }
}

.content {
  font-size: 1.5rem;
  padding-top: 10px;
  & span {
    color: grey;
  }
}
