.root{
display:flex;
border: 1px solid rgba(0, 0, 0, 0.212);
padding: 10px;
margin: 0 5px;
width: 35%;
border-radius: 10px;

&:hover{
    
    border: 2px solid rgba(0, 0, 0, 0.5);
}
@media (max-width: 1100px) {
    width: 50%;
}

@media (max-width: 800px) {
    width: 80%;
margin-top: 20px;
}

}

.input{
 width: 100%;
 border:none;
 padding: 0 15px;
 font-size: 20px;
}

.icon{
    cursor: pointer;
    caret-color: transparent;
    fill: rgba(0, 0, 0, 0.35);
}

.clear{
    cursor: pointer;
    caret-color: transparent;
    fill: rgba(0, 0, 0, 0.35);
    &:hover{
        fill:rgba(0, 0, 0, 0.75);
    }
}