.root{
display:flex;
border: 1px solid rgba(0, 0, 0, 0.212);
padding: 12px 10px;
width: 300px;
border-radius: 10px;

&:hover{
    
    border: 2px solid rgba(0, 0, 0, 0.5);
}
}

.input{
 width: 100%;
 border:none;
 padding: 0 15px;
 font-size: 20px;
}

.icon{
    cursor: pointer;
    caret-color: transparent;
    fill: rgba(0, 0, 0, 0.35);
}

.clear{
    cursor: pointer;
    caret-color: transparent;
    fill: rgba(0, 0, 0, 0.35);
    &:hover{
        fill:rgba(0, 0, 0, 0.75);
    }
}